<form>

  <!-- Author & Date -->
  <div class="row">
    <div class="col form-group">
      <label for="formGroupExampleInput">Author</label>
      <input type="text" class="form-control" id="AuthorInput" placeholder="Author">
    </div>

    <div class="col form-group">
        <label for="formGroupExampleInput">Date</label>
        <input type="datetime-local" class="form-control" placeholder="Date" formControlName="date">
    </div>
  </div>
    
  <!-- Title -->
  <div class="row">
      <div class="col form-group">
        <label for="formGroupExampleInput">English Title</label>
        <input type="text" class="form-control" id="EnglishTitle" placeholder="Title in English">
      </div>
      <div class="col form-group">
          <label for="formGroupExampleInput">Russian Title</label>
        <input type="text" class="form-control" id="RussianTitle" placeholder="Title in Russian">
      </div>
    </div>
</form>

<!-- Article -->
<app-article-scrollspy></app-article-scrollspy>
<div class="form-group mt-3">
    <label for="validationTextarea"><h2>Article</h2></label>
    <textarea class="form-control" placeholder="Article" id="article" formControlName="article" required></textarea>
  </div>