<h2>Add news</h2>
<form class="mb-3" [formGroup]="newsForm" (ngSubmit)="onSubmit()">

    <!-- Author & Date -->
    <div class="row">
        <div class="col form-group">
            <label for="formGroupExampleInput">Author</label>
            <input type="text" class="form-control" id="AuthorInput" placeholder="Author" formControlName="author">
        </div>

        <div class="col form-group">
            <label for="formGroupExampleInput">Date</label>
            <input type="datetime-local" class="form-control" placeholder="Date" formControlName="date">
        </div>
    </div>

    <!-- Title -->
    <div class="row">
        <div class="col form-group">
            <label for="formGroupExampleInput">English Title</label>
            <input type="text" class="form-control" id="EnglishTitle" placeholder="Title in English" formControlName="title_en">
        </div>
        <div class="col form-group">
            <label for="formGroupExampleInput">Russian Title</label>
            <input type="text" class="form-control" id="RussianTitle" placeholder="Title in Russian" formControlName="title_ru">
        </div>
    </div>

    <!-- Article -->
    <!-- Article-View -->
    <app-article-scrollspy [article_ru]="newsForm.value.article_ru"></app-article-scrollspy>

    <!-- Article-Edit -->
    <div class="form-group mt-3">
        <label for="validationTextarea"><h3>Article</h3>
        </label>

        <div class="switch-language">
            <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1"><span class="flag-icon flag-icon-us"></span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2"><span class="flag-icon flag-icon-ru"></span></label>
            </div>
        </div>

        <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="article_ru"></app-ngx-editor>
    </div>

    <button type="button" class="btn btn-success btn-lg" (click)="onSubmit()">Large button</button>
    <button type="button" class="btn btn-secondary btn-lg ml-2">Large button</button>

</form>